*,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 10px;
}

html:focus-within {
    scroll-behavior: smooth;
}

:root {
    --font-sans: system-ui, sans-serif;
    --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    --horz-center: 0 auto;
    --flex: flex;
    --grid: grid;
}

ul:empty,
p:empty {
    display: none;
}

body {
    background-color: var(--body-bg);
    color: var(--body-txt);
    font-family: var(--font-sans);
    margin: 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

h1 {
    font-size: clamp(2.4rem, 2.2rem + 0.8889vw, 3.2rem);
    line-height: 1.3;
    @media screen and (width < 360px) {
        padding: 0 1rem;
    }
}

h2 {
    font-size: clamp(2rem, 1.9rem + 0.4444vw, 2.4rem);
}

h3 {
    font-size: clamp(1.6rem, 1.525rem + 0.3333vw, 1.9rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

p {
    font-family: var(--font-serif);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; /* replaces display: block but also removes space below */
    font-style: italic;
}

ul[role="list"] {
    list-style: none;
    padding-left: 0;
}

code,
pre {
    font-family: var(--font-mono);
}

:focus-visible {
    outline: 3px solid var(--highlight);
    outline-offset: 3px;
}

button {
    all: unset;
    color: inherit;
    cursor: pointer;
}

.page-layout {
    min-height: 100vh;
    min-height: 100dvh;
    display: var(--grid);
    grid-template-rows: auto auto 1fr auto;
}

.page-header {
    padding: 3.2rem 0 0 0;

    @media screen and (width < 360px) {
        padding-inline: 1rem;
    }

    & ul {
        flex-wrap: wrap;
    }

    & p {
        margin: var(--horz-center);
    }
}

.main {
    overflow: hidden;
    padding: 0 1.6rem 0;

    & a {
        color: var(--main-link);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.page-footer {
    padding: 3.2rem 1.6rem 5rem;

    & a:hover {
        text-decoration: underline;
    }

    & a::after {
        content: " \27F6";
    }

    & ul {
        flex-direction: column;
    }
}

.page-header,
.page-footer {
    background-color: var(--clr-darkest);
    color: var(--clr-lightest);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-header a,
.page-footer a {
    color: var(--clr-lightest);
    text-decoration: none;
}

.page-header ul,
.page-footer ul {
    display: flex;
    gap: 1rem;
}

.icon-logo {
    fill: var(--clr-lightest);
    width: 3.6rem;
    height: 3.6rem;
    margin: var(--horz-center);
}

.article {
    max-width: 80rem;
    margin: var(--horz-center);
    background-color: var(--article-bg);
    padding: 3rem 0 8rem;
    display: var(--flex);
    flex-direction: column;
    gap: 3rem;

    & h2 {
        text-align: center;
        margin: 1rem 0;
    }

    & p:first-of-type {
        max-width: 60ch;
    }

    & section {
        display: var(--flex);
        flex-direction: column;
        gap: 2.5rem;
    }
}

/** Helpers */
/* Scrollable container for tables */
[role="region"][aria-labelledby][tabindex] {
    overflow: auto;
}

/* Skip link */
.skip-link {
    color: var(--clr-lightest);
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;

    &::after {
        content: " \2193";
    }
}
.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    &.element-focusable:active,
    &.element-focusable:focus {
        clip: auto;
        height: auto;
        overflow: visible;
    }
}

/* Screenreader only */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0);
    border: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html,
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

.warning {
    color: var(--clr-warning);
    font-weight: 600;
}
/* Always comes last **/
.hide {
    display: none;
}
