.items-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & .item-container {
        box-shadow: -1px 4px 10px 0px var(--item-shadow);
        border-radius: 2rem;
        overflow: clip;
    }

    & .item-container-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem;
        border-left: 10px solid var(--clr-green);
        background-color: var(--item-bg);
    }

    & h3,
    & h4 {
        font-weight: 500;
    }

    & .item-header {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;

        @media screen and (width <= 500px) {
            flex-direction: column;
        }
    }

    & img {
        border: 6px solid var(--clr-green);
        border-radius: 0.5rem;
        width: clamp(20rem, 17.5rem + 6.6667vw, 25rem);
    }

    & .img-desc {
        display: flex;
        align-items: flex-start;

        gap: 3rem;

        @media screen and (width <= 600px) {
            flex-direction: column;
        }
    }

    & .desc-features {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        & .category {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            & p {
                text-transform: capitalize;
            }
        }
    }

    & .description {
        text-wrap: balance;
    }

    & .features {
        & ul {
            display: flex;
            flex-wrap: wrap;
            line-height: 1.2;
        }

        & li {
            margin-right: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
            &:after {
                content: ", ";
            }
            &:last-of-type:after {
                content: "";
            }
        }
    }

    & .first-commit {
        display: flex;
        gap: 1rem;
        align-items: baseline;
    }

    & .links {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 600;

        @media screen and (width < 360px) {
            flex-direction: column;
            gap: 2rem;
        }

        & a::after {
            content: " \27F6";
        }
        & .git-link {
            background-color: var(--clr-dark-green);
            color: var(--clr-lightest);
            border: 3px solid var(--clr-green);
            border-radius: 0.5rem;
            display: block;
            padding: 0.5rem 1rem;
        }
    }
}
