.filters-wrapper {
    background-color: var(--filter-bg);
    color: var(--filter-txt);
    border-style: solid;
    border-bottom-color: var(--filter-border);
    border-width: 0 0 0.5rem;
    & .filters {
        display: var(--flex);
        flex-wrap: wrap;
        gap: 2rem;
        align-items: baseline;
        justify-content: center;
        padding: 3.2rem 0;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }

    & h2 {
        font-size: 1.6rem;
        /* color: var(--clr-lightest); */
    }

    & button {
        background-color: var(--clr-dark-green);
        color: var(--clr-lightest);
        font-weight: 600;
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        &:hover {
            opacity: 0.8;
        }

        &.active {
            pointer-events: none;
            background-color: var(--filter-active-bg);
            color: var(--filter-active-txt);
            opacity: 1;
        }
    }
}
