.theme-picker {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 300;
    width: fit-content;
}

.theme-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--clr-lightest);
    margin-right: 0.5rem;
}

.btn-theme-toggle {
    display: var(--flex);
    align-items: center;
    padding: 0.5rem 0.5rem 0.75rem 0;
    border-bottom: 5px solid var(--clr-mid);
    color: var(--clr-lightest);
    font-size: clamp(1.2rem, 1.1rem + 0.4444vw, 1.6rem);

    &:hover {
        border-bottom-color: var(--clr-lightest);
    }
}

[aria-pressed="false"] .btn-theme-state::after {
    content: ": off";
}
[aria-pressed="true"] .btn-theme-state::after {
    content: ": on";
}
